
      <div class="features-list">
        <%= link_to '< Wstecz', {controller: 'welcome'}, :class => 'button' %>
<br>
        <h1>Twoje listy wydatków:</h1>
        <%= link_to "Nowa lista", new_list_path, :class => 'button' %>
<hr>
        <% if @lists.empty? %>
          Nie posiadasz obecnie żadnej listy wydatków.
        <% else %>
          <%  @lists.each do |list| %>
                          <div class="slat-3">
                              <ul>
                                  <li><i class="icon-list-alt"></i> <%= link_to  "#{list.name} (#{list.expenses.count})", {:controller => "lists", :action => "show", :id => list.id } %></li>
                              </ul>
                          </div>
          <% end %>
        <% end %>
    </div>