<h1>Listing spendings</h1>

<%= link_to '<--BACK', controller: 'welcome' %>


<%= link_to 'New spending', new_spending_path %>
 
<table>
  <tr>
    <th>Name</th>
    <th>Value</th>
  </tr>
 
  <% @spendings.each do |spending| %>
    <tr>
      <td><%= spending.spending_name %></td>
      <td><%= spending.value %></td>
    </tr>
  <% end %>
</table>